@model List<PhoneBook_24.BusinessLogic.Models.Phone>


@if (Model != null)
{
    <table class="table table-bordered">
        <tr>
            <td></td>
            <td>Number</td>
            <td>Type</td>
        </tr>

        @foreach (var phone in Model)
        {
            <tr>
                <td>@Html.ActionLink("UpdatePhone", "Update", "Phones");</td>
                <td>@phone.Number</td>
                <td>@phone.Type</td>
            </tr>
        }

    </table>

}

