@model PhoneBook_24.BusinessLogic.Models.Phone


<table>
    <tr>
        <td>Number:</td>
        <td>
            @Html.TextBoxFor(m => m.Number)
            @*@Html.ValidationMessageFor(x => x.Email)*@
        </td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>
            @Html.TextBoxFor(m => m.Type)
            @*@Html.ValidationMessageFor(x => x.Name)*@
        </td>
    </tr>
</table>

