@model PhoneBook_24.BusinessLogic.Models.Contact
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm("Add", "Contacts"))
{
    Html.RenderPartial("Partials/ContactDetails", Model);

    <input type="submit" name="Add" value="Add">
}


