@model PhoneBook_24.BusinessLogic.Models.Phone

@{
    ViewBag.Title = "UpdateNumber";
}

<h2>Update Phone Number</h2>



@using (Html.BeginForm("UpdatePhones", "Phones"))
{
    Html.RenderPartial("Partials/PhoneNumber", Model);
    <input type="submit" name="UpdatePhones" value="update">
}